[submodule "alliedmodders/metamod"]
	path = alliedmodders/metamod
	url = https://github.com/alliedmodders/metamod-source/
[submodule "alliedmodders/hl2sdk-cs2"]
	path = alliedmodders/hl2sdk-cs2
	url = https://github.com/alliedmodders/hl2sdk
	branch = cs2
[submodule "alliedmodders/hl2sdk-manifests"]
	path = alliedmodders/hl2sdk-manifests
	url = https://github.com/alliedmodders/hl2sdk-manifests/
[submodule "vendor/dynlibutils"]
	path = vendor/dynlibutils
	url = https://github.com/komashchenko/DynLibUtils
[submodule "vendor/lua-rapidjson"]
	path = vendor/lua-rapidjson
	url = https://github.com/xpol/lua-rapidjson
